@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "./partials/_variables.scss";
@import "./partials/_bootstrapVariables.scss";
@import "./partials/_iconmon.scss";
@import "./partials/_globals.scss";
@import "./partials/_header.scss";
@import "./partials/_footer";
@import "./partials/_owl-carousel-styles";
@import "./partials/_not-found.scss";
@import "./partials/_special-toglemenu.scss";

.cbp-spmenu {
	display: flex;
	flex-direction: column;
	background: #184b82;
	position: fixed;
	width: 240px;
	height: 100%;
	top: 126px;
	right: -240px;
	z-index: 1000;
	transition: all 0.3s ease;
	.nav-link {
		font-size: rem(19);
		line-height: rem(27);
		color: #fff;
		font-weight: $bold;
		color: #fff;
		border-bottom: 1px solid rgba(#fff, 0.2);
		padding: 1em;
	}
	.user-controls {
		display: flex;
		align-items: center;

		.thumb {
			width: resize(46, 0.7);
			height: resize(46, 0.7);
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: resize(12);
		}
		p {
			font-size: rem(18);
			line-height: rem(20);
			font-weight: 400;
			margin-bottom: 0;
		}
	}
	&.cbp-spmenu-open {
		right: 0;
	}
}

.ads-space {
	padding: 30px 0px 0px 0;
	img {
		max-width: 100%;
		height: auto;
	}
	&.ads-space-sm {
		img {
			max-width: 95%;
			margin: 0 auto;
			display: block;
			@include media-breakpoint-up(xl) {
				max-width: 70%;
			}
		}
	}
	&.ads-space-side {
		padding: 2.3rem 0 0 0;
		max-height: resize(300);
		overflow: hidden;
	}
}

.bg-gray {
	background-color: #727272 !important;
}

.bg-light-gray {
	background-color: #f0f0f0 !important;
}

.breadcrumb-wrap {
	background-color: #fff;
	box-shadow: $shadow;
	.breadcrumb {
		background-color: transparent;
		padding-right: 0;
		padding-left: 0;
		.breadcrumb-item {
			+ .breadcrumb-item:before {
				content: ">";
			}
			a {
				color: #184b82;
				font-size: rem(22);
				font-weight: $bold;
				line-height: rem(24);
			}
			&.active {
				font-weight: $bold;
				color: #727272;
			}
		}
	}
}

.section-head {
	padding-top: rem(36);
	padding-bottom: rem(36);
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1,
	a {
		font-size: rem(34);
		font-weight: $bold;
		line-height: rem(40);
		margin-bottom: 0;
		text-transform: uppercase;
	}
	h1 {
		color: #444444;
	}
	a {
		color: #184b82;
	}
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
	@include media-breakpoint-down(sm) {
		padding-right: 15px;
		padding-left: 15px;
	}
}

/* Components */

.f-g {
	flex: 1 0 auto !important;
	@include media-breakpoint-down(lg) {
		flex: 0 0 auto !important;
	}
}

.f-s {
	flex: 0 1 auto !important;
}

.single-input {
	flex-wrap: wrap;
	.input {
		flex: 1 1 auto;
		margin-right: 15px;
	}
	.btn {
		margin-bottom: 0 !important;
		align-self: flex-end;
	}
}

.file-multi-input {
	display: flex;
	margin-top: 30px;
	flex-wrap: wrap;
}

.selected-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-right: 20px;
}

.selected-file {
	min-width: resize(165, 0.7);
	padding: 5px 12px;
	border-radius: resize(16);
	background-color: #727272;
	color: #fff;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	.close {
		float: none;
		color: #fff;
		margin-left: 10px;
	}
	& + .selected-file {
		margin-left: 15px;
	}
}

.material-switch > input[type="checkbox"] {
	display: none;
}

.material-switch > label {
	cursor: pointer;
	height: 0px;
	position: relative;
	width: 40px;
}

.material-switch > label::before {
	background: #832b2b;
	border-radius: 8px;
	content: "";
	height: 16px;
	margin-top: -8px;
	position: absolute;
	opacity: 0.5;
	transition: all 0.4s ease-in-out;
	width: 40px;
}
.material-switch > label::after {
	background: #832b2b;
	border-radius: 16px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	content: "";
	height: 24px;
	left: -4px;
	margin-top: -8px;
	position: absolute;
	top: -4px;
	transition: all 0.3s ease-in-out;
	width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
	background: rgba(#009688, 0.5);
	opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
	background: #009688;
	left: 20px;
}

label {
	margin-bottom: 5px;
}
.custom-select {
	border: none;
	border-bottom: 1px solid rgba(#727272, 0.5);
	border-radius: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 16px;
	height: auto;
	background: #fff url("../images/dd-arrow.png") no-repeat right center;
	background-size: 11px;
	cursor: pointer;
	&:focus {
		border-color: transparent;
		border-bottom-color: #727272;
		box-shadow: none;
	}
}

.btn {
	max-width: resize(350, 0.7);
	padding: rem(20);
	font-weight: $bold;
	font-size: rem(26);
	line-height: rem(27);
	text-transform: uppercase;
	&.btn-block {
		max-width: 100%;
	}
}

.btn-sm {
	padding: 8px 0.5rem;
	font-size: 0.875rem;
	line-height: 1;
	border-radius: 0;
	min-width: resize(130, 0.7);
}

.btn-success.dropdown-toggle {
	border-radius: 19px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& + .dropdown-menu.nav {
		padding-bottom: 0;
		width: 100%;
		a.dropdown-item {
			font-size: 1.2rem;
			padding: 15px 8px;
			&.active {
				background-color: #034a15;
			}
		}
	}
}

.btn-success:not([disabled]):not(.disabled):active,
.btn-success:not([disabled]):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
	background-color: #057b23;
	border-color: transparent;
}

.btn.btn-file {
	position: relative;
	overflow: hidden;
	font-weight: $bold;
	color: #184b82;
	border-color: #184b82;
	font-size: rem(13);
	line-height: rem(14);
	min-width: 126px;
	padding: 10px 24px;
	margin-bottom: 0 !important;
}

.btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.btn-float {
	width: resize(65, 0.7);
	height: resize(65, 0.7);
	color: #fff;
	border-radius: 50%;
	padding: 10px;
}

.btn-link {
	color: #727272;
}

.btn-save,
.btn-cancel {
	background-color: transparent;
	border-color: transparent;
}
.btn-save {
	color: #184b82;
}

.btn-delete,
.btn-cancel {
	color: #832b2b;
}

.btn-default {
	background-color: transparent;
	border-color: #184b82;
}

.thumb {
	width: resize(124, 0.7);
	height: resize(124, 0.7);
	border-radius: 50%;
	border: 3px solid #fff;
	overflow: hidden;
	margin: 0 auto;
	background-color: #c1c1c1;
	> img {
		max-width: 100%;
		height: auto;
	}
}

.input {
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
	&.input-invalid {
		.input__label::before {
			border-bottom-color: rgba(#ff0000, 0.5);
		}
		&.input--filled {
			.input__label::before {
				border-bottom-color: transparent;
			}
		}
	}
}

.input__field {
	position: relative;
	display: block;
	margin-top: 18px;
	float: right;
	padding: 18px 0 16px;
	width: 100%;
	border: none;
	border-radius: 0;
	background: transparent;
	color: #333;
	font-size: rem(19);
	line-height: rem(29);
	-webkit-appearance: none; /* for box shadows to show on iOS */
	&:focus {
		outline: none;
		+ .input__label:after {
			transform: translate3d(0, 0, 0);
		}
		+ .input__label .input__label-content {
			animation: anim-1 0.3s forwards;
		}
	}
}

.input--filled .input__label:after {
	transform: translate3d(0, 0, 0);
}

.input--filled .input__label-content {
	animation: anim-1 0.3s forwards;
	color: #184b82;
}

.input__label {
	display: block;
	float: right;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: calc(100% - 10px);
	text-align: left;
	pointer-events: none;
	margin-bottom: 0;
	color: #727272;
	font-size: rem(19);
	line-height: rem(29);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 10px);
		border-bottom: 1px solid rgba(#727272, 0.5);
	}
	&:after {
		// border-bottom: 2px solid red;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		border-color: #184b82;
	}
}

.input__label-content {
	position: absolute;
	display: block;
	padding: 1.6em 0;
	width: 100%;
	font-size: rem(19);
	line-height: rem(29);
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		transform: translate3d(-1em, -20%, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, -20%, 0);
	}
}

.custom-control-label {
	color: #727272;
	font-size: rem(20);
	padding-left: 10px;
	&:before {
		width: resize(25, 0.7);
		height: resize(25, 0.7);
		background-color: transparent;
		border: 1px solid rgba(#444444, 0.7);
	}
	&:after {
		width: resize(25, 0.7);
		height: resize(25, 0.7);
	}
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
	background-image: none;
}

.date-range {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -15px;
	> label {
		width: 100%;
		margin-bottom: -20px;
	}
	.form-group {
		span[class*="icon-"] {
			position: absolute;
			bottom: 20px;
		}
		.input__field {
			margin-top: 0;
			padding: 18px 18px;
		}
		+ .form-group {
			margin-left: 20px;
			@include media-breakpoint-down(sm) {
				margin-left: 0px;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		justify-content: space-between;
	}
}

.timepicker-range {
	display: flex;
	.icon-time {
		left: 0;
	}
	.timepicker-from,
	.timepicker-to {
		float: left;
		width: 50%;
		display: inline-block;
		&:hover {
			cursor: pointer;
			color: #184b82;
		}
		&[disabled="disabled"]:hover {
			cursor: default;
			color: #333;
		}
	}

	.input__field.timepicker-from {
		padding-right: 0;
	}
	.input__field.timepicker-to {
		padding-left: 0;
	}
}

.ui-datepicker-buttonpane {
	button.ui-datepicker-current {
		display: none;
	}
	button.ui-datepicker-close.ui-priority-primary {
		display: block;
		background-color: #184b82;
		color: #fff;
		width: 100%;
		border: 1px solid transparent;
	}
}

.img-preview {
	display: flex;

	> div {
		position: relative;
		width: resize(60, 0.7);
		height: resize(60, 0.7);
		display: flex;
		margin-right: 35px;

		img {
			max-width: 100%;
			height: auto;
			margin-right: 10px;
		}
		.close {
			color: #000;
			align-self: flex-start;
		}
	}
}

.form-group-icon {
	margin-bottom: 0;
	.input__field {
		margin-top: 0;
		padding: 18px 18px;
	}
	.input__label-content {
		padding: 10px 18px;
	}
	.input--filled .input__label-content {
		padding-bottom: 40px;
		padding-top: 0;
		padding-left: 0;
	}
	span[class*="icon-"] {
		position: absolute;
		bottom: 20px;
	}
}

.ui-datepicker {
	background-color: #fff;
	padding: 15px;
	box-shadow: $shadow;
	.ui-icon,
	.ui-datepicker-prev span,
	.ui-datepicker-next span {
		text-indent: 0;
		overflow: visible;
		line-height: 13px;
		left: auto;
		top: auto;
		margin: 0;
		position: relative;
	}
	.ui-datepicker-prev,
	.ui-datepicker-next {
		color: #727272;
		font-size: 13px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&.ui-state-disabled {
			background-color: #eee;
			color: #ccc;
		}
	}
	td a {
		display: flex;
		justify-content: center;
		align-items: center;
		&.ui-state-active,
		&.ui-state-hover {
			color: #fff;
			background-color: #123862;
		}
	}
}

.dt-button {
	border: 1px solid #184b82;
	color: #184b82;
	min-width: 77px;
	font-size: 77px;
	line-height: 0.75385rem;
	padding: 14px 24px !important;
	margin-bottom: 0 !important;
	font-weight: 700;
	background-color: transparent;
	border-width: 1px;
	margin-left: 15px;
	cursor: pointer;
}
.sortable {
	.ui-state-highlight {
		background-color: rgba(#184b82, 0.3);
		margin-left: -1.72308rem;
		margin-right: -1.72308rem;
	}
	.ui-sortable-helper {
		background-color: #fff !important;
		box-shadow: $shadow-lg;
	}
}

.ui-autocomplete {
	background-color: #fff;
	padding: 15px;
	box-shadow: $shadow;
	.ui-menu-item {
		margin-right: -15px;
		margin-left: -15px;
		padding-right: 15px;
		padding-left: 15px;
		.ui-menu-item-wrapper {
			margin-right: -15px;
			margin-left: -15px;
			padding-right: 15px;
			padding-left: 15px;
			&.ui-state-active {
				background-color: #057b23;
				color: #fff;
			}
		}
	}
}

.dropdown-menu.nav {
	display: none;
	&.show {
		display: block;
	}
}

.modal.fade.show {
	overflow-y: scroll !important;
}

#loginModal,
#registerModal,
#forgotPwModal {
	.modal-body {
		padding-top: 0;
		span.input {
			margin-top: -12px;
		}
	}
}

.modal-backdrop.show {
	opacity: 0.62;
}

.modal-header,
.modal-footer,
.modal-content {
	border-radius: 0;
}

.modal-content {
	box-shadow: $shadow;
	border: none;
}

.modal-body {
	padding-right: rem(40);
	padding-left: rem(40);
	#addSportModal & {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.modal-header {
	position: relative;
	padding-top: rem(38);
	border: none;
	justify-content: center;
	align-items: center;
	.close {
		position: absolute;
		margin: 0;
		padding: 10px;
		line-height: 10px;
		top: 0px;
		right: 0px;
		color: #727272;
	}
}

.modal-title {
	font-size: rem(22);
	font-weight: $bold;
	line-height: rem(24);
	color: #727272;
	margin-right: auto;
	margin-left: auto;
}

.modal-footer {
	border: none;
	flex-wrap: wrap;
	& a:last-of-type {
		font-size: rem(20);
	}
}

form {
	+ a {
		text-align: right;
		display: block;
	}
	&#RegisterForm {
		label.inline {
			margin: 0;
			flex: 7;
		}
		.btn-file {
			min-width: initial;
		}
	}
}

label.inline + .material-switch {
	display: inline-block;
}

.search,
.dataTables_filter label {
	position: relative;
	border-bottom: 1px solid #95989a;
	display: flex;
	justify-content: space-between;
	align-items: center;
	input[type="text"],
	input[type="search"] {
		color: #727272;
		font-size: rem(21);
		line-height: rem(32);
		border: 1px solid transparent;
		flex: 1 1 auto;
		margin-right: 80px;
		&:placeholder {
			color: #727272;
		}
		@include media-breakpoint-down(sm) {
			margin-right: 0;
		}
	}
	span.icon-search {
		color: #727272;
	}
	.tab-pane & {
		max-width: resize(500, 0.7);
		margin-top: resize(45, 0.7);
		margin-bottom: resize(45, 0.7);
	}
}

.dataTables_filter label {
	width: resize(500, 0.7);
	input {
		margin-left: 0;
	}
	&:before {
		content: "\f002";
		color: #727272;
		position: absolute;
		right: 0;
		font-family: "icomoon" !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.nav-pills {
	.nav-link {
		min-width: resize(215, 0.7);
		min-height: resize(75, 0.7);
		font-size: rem(34);
		line-height: rem(40);
		font-weight: bold;
		color: #727272;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: rem(19);
		&.active {
			background-color: #057b23;
		}
	}
}

#addClubModal {
	.modal-header {
		justify-content: flex-start;
		.modal-title {
			margin-left: 0;
		}
	}
	.card-title {
		color: #444444;
		font-size: rem(26);
		line-height: rem(30);
	}
	form ~ .card-title {
		margin-top: resize(70, 0.7);
	}
	.form-group.inline {
		margin-bottom: 0;
	}
	.thumb {
		width: resize(95, 0.7);
		height: resize(95, 0.7);
	}
	.modal-footer {
		.btn {
			min-width: resize(300, 0.7);
			font-size: rem(26);
			line-height: rem(27);
			box-shadow: $shadow;
			@include media-breakpoint-down(sm) {
				width: 100%;
				max-width: initial;
				&:not(:last-child) {
					margin-bottom: 15px;
					margin-right: 0;
				}
			}
		}
		.btn-default {
			color: #184b82;
		}
	}

	.input--filled .input__label-content {
		white-space: nowrap;
		color: #727272;
	}
	.input__label:after {
		border-color: #444444;
	}

	p {
		font-size: rem(24);
		line-height: rem(30);
		color: #727272;
		margin-bottom: 0;
	}
	.d-flex {
		> * {
			margin-right: resize(40);
			&.icon-table {
				margin-right: 20px;
				cursor: grab;
				color: #95989a;
			}
			@include media-breakpoint-down(sm) {
				margin-right: resize(20);
				&.icon-table {
					margin-bottom: 15px;
				}
			}
		}
		.form-group {
			flex: 1 auto;
			max-width: 270px;
		}
		.date-range {
			flex: 1 auto;
			.form-group {
				max-width: 140px;
				@include media-breakpoint-down(sm) {
					max-width: 40%;
				}
			}
		}
		& + a {
			align-self: flex-start;
			font-size: rem(23);
			font-weight: $med;
			color: #184b82;
			display: inline-block;
		}
	}
	small {
		margin-bottom: 10px;
	}
	.material-switch {
		margin-top: 10px;
	}
	small {
		font-size: rem(19);
		color: #727272;
	}
}

.tab-pane {
	.card {
		h2 {
			color: #444444;
			font-size: rem(26);
			line-height: rem(30);
		}
		.btn,
		.btn-link {
			margin: 0;
		}
		.btn-link {
			margin-top: 16px;
		}
		.btns-wrap {
			display: flex;
			flex-direction: column;
			margin-left: auto;
			margin-right: 0;
			.btn-save {
				&:hover {
					color: darken(#184b82, 0.7);
				}
			}
			.btn-cancel {
				padding-top: 0;
				&:hover {
					color: darken(#832b2b, 0.7);
				}
			}
			.btn:hover {
				background-color: transparent;
				border-color: transparent;
			}
		}
	}

	.card-row .form-group {
		min-width: initial;
	}
	.card-title.bg-gray {
		margin-bottom: resize(36);
		margin-top: resize(70);
		text-transform: uppercase;
		a {
			color: #fff;
			display: block;
			padding: 10px 28px;
		}
		&:first-of-type {
			margin-top: 0;
		}
	}
}

.tab-pannel {
	.btns-wrap {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: 0;
		.btn-save {
			&:hover {
				color: darken(#184b82, 0.7);
			}
		}
		.btn-cancel {
			padding-top: 0;
			&:hover {
				color: darken(#832b2b, 0.7);
			}
		}
		.btn:hover {
			background-color: transparent;
			border-color: transparent;
		}
		.btn,
		.btn-link {
			margin: 0;
		}
		.btn-link {
			margin-top: 16px;
		}
	}
}

.select-wrap {
	flex: 1 0 auto !important;
	label {
		color: #727272;
		font-size: 1.02308rem;
		line-height: 1.56154rem;
		display: block;
		margin-bottom: 0;
	}
}

.chosen-container {
	.chosen-choices {
		background-image: none;
		border-color: transparent;
		// border-bottom-color: rgba(#727272, 0.5);
		border-bottom-color: #444;
	}
	&.chosen-container-active {
		.chosen-choices {
			box-shadow: none;
			border-bottom-color: #444;
		}
	}
	.chosen-results {
		.active-result {
			&.highlighted {
				background-image: none;
				background-color: #057b23;
			}
		}
	}
}

.chosen-container-multi .chosen-choices li.search-choice {
	min-width: resize(100, 0.7);
	min-height: resize(25, 0.7);
	background-color: #727272;
	color: #fff;
	border-radius: resize(16, 0.7);
	background-image: none;
	border-color: transparent;
}

.chosen-container-multi .chosen-choices {
	background-color: transparent;
	background-image: none;
}

.tab-pane .d-flex .form-group.inline {
	margin-bottom: 0;
	flex: 0 auto;
	max-width: initial;
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}

.tab-pannel,
.tab-pane {
	.input--filled .input__label-content {
		white-space: nowrap;
		color: #727272;
	}
	.input__label:after {
		border-color: #444444;
	}

	p {
		font-size: rem(24);
		line-height: rem(30);
		color: #727272;
		margin-bottom: 0;
	}
	.d-flex {
		> * {
			margin-right: resize(40);
			&.icon-table {
				margin-right: 20px;
				cursor: grab;
				color: #95989a;
			}
			@include media-breakpoint-down(sm) {
				margin-right: resize(20);
				margin-bottom: 20px;
				&.icon-table {
					margin-bottom: 15px;
				}
			}
		}
		.form-group {
			flex: 1 auto;
			max-width: 270px;
		}
		.date-range {
			flex: 1 auto;
			.form-group {
				max-width: 140px;
				@include media-breakpoint-down(sm) {
					max-width: 40%;
				}
			}
		}
		& ~ a {
			align-self: flex-start;
			font-size: rem(23);
			font-weight: $med;
			color: #184b82;
			display: inline-block;
			margin-top: 15px;
			cursor: pointer;
			&:hover {
				color: #184b82;
				opacity: 0.8;
			}
		}
	}
	small {
		margin-bottom: 10px;
	}
	.material-switch {
		margin-top: 10px;
	}
	.btn-default {
		font-weight: $bold;
		color: #184b82;
		border-color: #184b82;
		font-size: rem(13);
		line-height: rem(14);
		min-width: 126px;
		padding: 10px 24px;
		margin-bottom: 0 !important;
	}
	small {
		font-size: rem(19);
		color: #727272;
	}
}

.user-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: resize(35) 0;
	background-color: #184b82;
	color: #fff;
	p {
		font-size: rem(24);
		line-height: rem(28);
		margin-bottom: 0;
		font-weight: $bold;
	}
	small {
		font-size: rem(18);
		line-height: rem(21);
	}
	.thumb-upload {
		margin-bottom: 10px;
		.image-upload {
			> label {
				color: #fff;
				font-size: 35px;
			}
		}
	}
}

.nav-tabs-vertical {
	margin-top: resize(30);
	border-right: 1px solid #3a3a3a;
	border-bottom: none;
	.nav-link {
		padding: resize(45, 0.7) resize(30, 0.7);
		font-size: rem(29);
		line-height: rem(34);
		color: #444444;
		font-weight: $bold;
		border: none;
		border-right: 3px solid transparent;
		border-radius: 0;
		&.active {
			border-right-color: #057b23;
		}
		&:hover {
			color: #057b23;
			border-right-color: transparent;
		}
	}
	@include media-breakpoint-down(sm) {
		flex-direction: row !important;
		flex-wrap: nowrap;
		overflow-x: scroll;
		.nav-link {
			white-space: nowrap;
			border-bottom: 3px solid transparent;
			border-right-width: 0;
			padding: 20px;
			&.active {
				border-right-color: transparent;
				border-bottom-color: #057b23;
			}
		}
	}
}

.title {
	font-size: rem(29);
	line-height: rem(34);
	color: #444444;
	margin-right: resize(150);
	@include media-breakpoint-down(sm) {
		margin-right: resize(85);
	}
}

h3.title {
	font-size: rem(22);
	line-height: rem(25);
}

a.change-pw {
	font-size: rem(19);
	line-height: rem(23);
	color: #444444;
	font-weight: $bold;
	color: #184b82;
	~ .d-none {
		display: none !important;
	}
	&.active {
		color: #444444;
	}
	& ~ .btns-wrap {
		// display: flex;
		// flex-direction: row-reverse;
		// margin-left: auto;
		// margin-right: 0;
		.btn {
			&:hover {
				background-color: transparent;
				border-color: transparent;
			}
		}
		.btn-save:hover {
			color: #17497f;
		}
		.btn-cancel {
			&:hover {
				color: #802a2a;
			}
		}
	}
}

.thumb-upload {
	position: relative;
}

.image-upload {
	width: 33px;
	position: absolute;
	right: -6px;
	top: -12px;
	> label {
		// width: resize(30, 0.7);
		// height: resize(30, 0.7);
		border-radius: 50%;
		color: #184b82;
		margin-bottom: 0;
		font-size: 30px;
		cursor: pointer;
	}
	> input[type="file"] {
		visibility: hidden;
		width: 0;
		height: 0;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	.card-user & {
		> label {
			color: #fff;
		}
	}
}

.card-user {
	a.change-pw {
		font-size: rem(19);
		line-height: rem(23);
		color: #444444;
		font-weight: $bold;
		color: #184b82;
		~ .d-none {
			display: none !important;
		}
		&.active {
			color: #444444;
		}
		& ~ .btns-wrap {
			display: flex;
			flex-direction: row-reverse;
			margin-left: auto;
			margin-right: 0;
			.btn {
				&:hover {
					background-color: transparent;
					border-color: transparent;
				}
			}
			.btn-save:hover {
				color: #17497f;
			}
			.btn-cancel {
				&:hover {
					color: #802a2a;
				}
			}
		}
	}
}

.nav-subtab {
	margin-top: resize(40, 0.7);
	border-bottom: 1px solid #3a3a3a;
	.nav-link {
		font-size: rem(29);
		line-height: rem(34);
		color: #444444;
		font-weight: $bold;
		padding-right: 30px;
		padding-left: 30px;
		&.active {
			border-bottom: 2px solid #057b23;
		}
	}
	.nav-item:first-of-type .nav-link {
		padding-left: 0;
	}
	@include media-breakpoint-down(sm) {
		flex-wrap: nowrap;
		overflow-x: scroll;
		.nav-link {
			font-size: 1.2rem;
			white-space: nowrap;
		}
	}
}

.nav.sports-subtab {
	margin-top: resize(25);
	margin-bottom: resize(25);
	.nav-link {
		padding: 20px;
		background-color: #fff;
		box-shadow: $shadow;
		color: #727272;
		// font-size: rem(43);
		&.active {
			background-color: #184b82;
			color: #fff;
		}
	}
	& > a {
		font-size: rem(24);
		line-height: rem(27);
		color: #184b82;
		font-weight: $med;
		align-self: center;
		margin-left: resize(45, 0.7);
	}
	@include media-breakpoint-down(sm) {
		justify-content: center;
	}
}

.ui-tooltip {
	background-color: #000;
	color: #fff;
	border-radius: 4px;
}

.tab-pane {
	.thumb {
		border: none;
		width: resize(80, 0.7);
		height: resize(80, 0.7);
		margin-left: 0;
		flex: 1 0 auto;
	}
}

.assigned-members {
	align-items: center;
	> div:not(.thumb) {
		border-bottom: 1px solid #95989a;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	p {
		color: #444444;
		font-size: rem(20);
		line-height: rem(16);
		margin-bottom: 0;
	}
	.thumb {
		flex: 0 auto;
	}
	@include media-breakpoint-up(lg) {
		max-width: resize(1000, 0.7);
	}
	@include media-breakpoint-down(sm) {
		justify-content: center;
		.thumb,
		div {
			margin-top: 15px;
			margin-right: 0 !important;
		}
		p {
			margin-left: 20px;
			margin-bottom: 15px;
		}
	}
}

#addMember {
	form {
		@include media-breakpoint-up(lg) {
			max-width: resize(1050, 0.7);
		}
		.btn-primary {
			margin-top: 16px;
		}
	}
}

.card-row {
	// margin-right: rem(-32);
	// margin-left: rem(-32);
	padding-right: rem(32);
	padding-left: rem(32);
	&:nth-of-type(2n) {
		background-color: #f0f0f0;
	}
	.form-group {
		min-width: resize(380, 0.7);
	}
	@include media-breakpoint-down(sm) {
		padding-top: 15px;
		padding-bottom: 15px;
		.form-group {
			min-width: initial;
		}
	}
}

.bg-success {
	background-color: #057b23 !important;
}

.bg-failure {
	background-color: #b21010 !important;
}

.card {
	background-color: #fff;
	box-shadow: $shadow;
	border-radius: 0;
	border: none;
	padding: rem(22) rem(32);
	margin-top: 30px;
	.card-header {
		border-radius: 0;
		border: none;
		margin: rem(-22) rem(-32) 0;
		padding: rem(22) rem(32);
		display: flex;
		align-items: center;

		h1 {
			font-size: rem(35);
			font-family: $roboto;
			line-height: rem(41);
			color: #fff;
			margin: 0 auto 0 10px;
		}
		span[class*="icon-"] {
			color: #fff;
			font-size: 22px;
			&.icon-error {
				color: #b21010;
				background-color: #fff;
				border-radius: 50%;
				width: 22px;
				height: 22px;
				text-align: center;
			}
		}
		&[class*="bg-"] ~ .card-body {
			padding-left: 0;
			padding-right: 0;
			.card-title {
				font-weight: 400;
			}
			.booking-status {
				width: 40%;
				@include media-breakpoint-down(lg) {
					width: 100%;
				}
			}
			.btn-link {
				margin: 0;
				padding-left: 0;
				padding-right: 0;
				color: #184b82;
				&:hover {
					opacity: 0.8;
				}
				&.btn-delete {
					color: #832b2b;
					margin-right: 15px;
				}
			}
		}
	}
	h1 {
		color: #184b82;
		@include font($wsans, $bold);
		font-size: rem(37);
		line-height: rem(34);
		margin-bottom: 16px;
		margin-top: 6px;
	}
	.card-title {
		font-size: rem(29);
		line-height: rem(34);
		color: #444444;
		font-weight: $med;
		&.card-title-sm {
			font-size: rem(22);
			line-height: rem(25);
			font-weight: $bold;
		}
		&.inline {
			display: inline-block;
			margin-bottom: 0;
			margin-right: 10px;
		}
	}
	h3.card-title {
		background-color: #fff;
		font-size: rem(26);
		line-height: rem(30);
		margin-top: resize(25, 0.7);
	}
	h3.card-title {
		background-color: #fff;
		font-size: rem(22);
		line-height: rem(30);
		margin-top: resize(25, 0.7);
	}
	.btn {
		margin-bottom: 18px;
	}
	&.sortable {
		.d-flex {
			> * {
				margin-right: 40px;
			}
			.form-group {
				flex: 1 auto;
				max-width: 270px;
				min-width: initial;
				&.inline {
					flex: 0 auto;
					max-width: initial;
					margin-bottom: 0;
				}
			}
			.date-range .form-group {
				max-width: 140px;
			}
			.icon-table {
				margin-right: 20px;
				cursor: grab;
				color: #95989a;
			}
			~ a {
				align-self: flex-start;
				font-size: 1.23846rem;
				font-weight: 500;
				color: #184b82;
				display: inline-block;
				margin-top: 15px;
			}
		}
		.btns-wrap {
			display: flex;
			flex-direction: column;
			margin-left: auto;
			margin-right: 0;
			.btn {
				margin: 0;
				&:hover {
					background-color: transparent;
					border-color: transparent;
				}
			}
			.btn-save:hover {
				color: #17497f;
			}
			.btn-cancel {
				padding-top: 0;
				&:hover {
					color: #802a2a;
				}
			}
		}
		.btn-link {
			margin: 0;
			margin-top: 16px;
		}
		small {
			font-size: 1.02308rem;
			color: #727272;
			margin-bottom: 10px;
			+ .material-switch {
				margin-top: 10px;
			}
		}
		.input--filled .input__label-content {
			white-space: nowrap;
			color: #727272;
		}
		.input__label::after {
			border-color: #444;
		}
		.form-group.d-inline-flex {
			label.inline {
				margin: 0;
				margin-right: 8px;
				flex: 7;
			}
		}
	}
}

.card-grid {
	background-color: #fff;
	box-shadow: $shadow;
	border-radius: 0;
	border: none;
	margin-top: 30px;
	@include media-breakpoint-down(sm) {
		.tab-content {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	@include media-breakpoint-only(md) {
		.tab-content {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.card-horizontal {
	display: flex;
	flex-direction: row;
	padding: 1.18462rem 1.72308rem;
	justify-content: flex-start;
	align-items: center;
	.thumb {
		width: resize(136, 0.7);
		height: resize(136, 0.7);
		margin-left: 0;
		margin-right: resize(20, 0.7);
	}
	p {
		font-size: rem(37);
		line-height: rem(43);
		color: #444444;
		font-weight: $bold;
		margin-bottom: 0;
	}
	small {
		font-size: rem(28);
		line-height: rem(30);
		color: #444444;
	}
	& > a {
		color: #184b82;
		font-size: rem(19);
		line-height: rem(23);
		font-weight: $bold;
		text-transform: uppercase;
	}
}

.card-user {
	.card-header {
		position: relative;
		margin: rem(-22) rem(-32);
		padding-top: resize(34);
		padding-bottom: resize(42);
		background-color: #184b82;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #fff;
		.thumb {
			width: resize(110, 0.7);
			height: resize(110, 0.7);
			margin-bottom: 10px;
		}
		p {
			font-size: rem(24);
			line-height: rem(28);
			font-weight: $bold;
			margin-bottom: 0;
		}
		small {
			font-size: rem(18);
			line-height: rem(21);
		}
	}
	.btn-float {
		background-color: #057b23;
		position: absolute;
		bottom: 0;
		right: 40px;
		transform: translateY(50%);
		margin-bottom: 0;
	}
}

.card-body {
	padding-top: 40px;

	.form-group {
		width: 100%;
		.input {
			width: 100%;
		}
		.input__label-content {
			font-size: rem(19);
			font-weight: $bold;
			line-height: 0;
			color: #444444;
			margin-bottom: 0;
		}
		.input__label::after {
			border-color: #184b82;
		}
		.input__field {
			padding-left: 10px;
			color: #727272;
			&[disabled] {
				padding-left: 0;
				+ .input__label:after {
					border-color: #444444;
				}
			}
		}
	}
	span[class*="icon-"] {
		font-size: rem(33);
		color: #727272;
		margin-right: 30px;
		margin-top: 18px;
	}
}

.card-footer {
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.accordion {
	.item {
		+ .item {
			margin-top: resize(24);
			margin-bottom: resize(24);
		}
		> a[data-toggle="collapse"] {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: rem(12) rem(15);
			background-color: #727272;
			color: #fff;
			.thumb {
				width: resize(74, 0.7);
				height: resize(74, 0.7);
				+ h2 {
					font-size: rem(29);
					font-weight: $bold;
					line-height: rem(34);
					margin-left: resize(20);
				}
			}
			& > span {
				font-size: 16px;
			}
			&.collapsed {
				> span {
					transform: rotate(180deg);
				}
			}
		}
	}

	.tab-pannel {
		padding-left: rem(20);
		padding-right: rem(20);
		.card {
			.card-title {
				display: flex;
				justify-content: space-between;
				.btn-float {
					background-color: #057b23;
				}
			}
			.btn[type="submit"] {
				align-self: flex-end;
			}
		}
	}

	.btn-link {
		margin: 0;
	}

	// .card {
	// 	padding: 0;
	// 	margin: 0;
	// }
}

p.file-label.text-truncate {
	max-width: 150px;
}

/* Home Page */
.ads-carousel {
	margin-top: resize(50);
	position: relative;
	.owl-stage-outer {
		height: 100%;
	}
	.owl-item {
		a {
			display: block;
			width: 100%;
			& > img {
				max-width: 100%;
				height: auto;
				min-height: 360px;
			}
		}
	}
}

.clubs-carousel {
	position: relative;
	margin-top: resize(55);
	.owl-dots {
		bottom: resize(24);
		@include media-breakpoint-up(xl) {
			bottom: resize(38);
		}
	}
}

.club-thumb {
	margin-bottom: 15px;
	@include media-breakpoint-up(xl) {
		margin-bottom: resize(100, 0.7);
	}
	h2 {
		font-size: rem(22);
		font-weight: $bold;
		line-height: rem(34);
		color: #fff;
		text-align: center;
		margin-bottom: 0;
		margin-top: resize(10);
		@include media-breakpoint-up(xl) {
			font-size: rem(29);
		}
	}
	.thumb-wrap {
		position: relative;
		width: resize(124, 0.7);
		height: resize(124, 0.7);
		margin: 0 auto;
		span[class*="icon"] {
			position: absolute;
			top: 0;
			right: 0;
			color: #fff;
			font-size: 16px;
			background: #057b23;
			border-radius: 50%;
			border: 4px solid #057b23;
		}
	}
}

.inline {
	display: inline-block;
	margin-right: 8px;
	+ span.btn-file {
		display: inline;
		@include media-breakpoint-down(sm) {
			display: block;
		}
	}
}

.badge {
	padding: 2px resize(16, 0.7);
	border-radius: resize(16, 0.7);
	background-color: #303030;
	color: #fff;
	font-weight: 400;
}

.badge-alt {
	width: resize(24, 0.7);
	height: resize(24, 0.7);
	font-size: rem(18);
	line-height: 1rem;
	background-color: #832b2b;
	border-radius: 50%;
	color: #fff;
	margin-left: 5px;
	padding: 3px;
	display: inline-block;
	text-align: center;
	font-weight: 400;
}

a[download] {
	font-size: rem(22);
	line-height: rem(18);
	font-weight: $bold;
	color: #184b82;
	display: block;
	margin-top: resize(70, 0.7);
	margin-bottom: resize(70, 0.7);
	& ~ ul {
		list-style-type: none;
		padding: 0;
		line-height: rem(33);
		font-size: rem(18);
		color: #444444;
	}
}
button:focus {
	outline: none;
}

/* memberInfo -> membersSheet */
#membersSheet {
	.btn-default:not(.btn-file) {
		min-width: resize(375, 0.7);
		padding-top: resize(18, 0.7);
		padding-bottom: resize(18, 0.7);
		font-weight: $bold;
		font-size: rem(21);
		line-height: rem(17);
	}
	#membersRequest.table-responsive {
		margin-top: resize(65, 0.7);
		@include media-breakpoint-down(sm) {
			margin-bottom: 30px;
		}
	}
}

.guide {
	list-style-type: none;
	padding: 0;
	font-size: rem(18);
	line-height: rem(33);
	color: #444444;
	margin-top: resize(48, 0.7);
}

/* Tables */

table.dataTable {
	border: none;
	font-size: rem(20);
	line-height: rem(16);
	&.no-footer {
		border: none;
	}
	thead {
		th,
		td {
			padding-bottom: resize(15, 0.7);
			border: none;
			border-bottom: 2px solid #95989a;
			color: #727272;
			font-weight: 400;
		}
	}
	tbody {
		th,
		td {
			padding-top: resize(18, 0.7);
			padding-bottom: resize(18, 0.7);
			padding-left: 18px;
			padding-right: 18px;
			border: none;
			border-bottom: 1px solid #95989a;
			color: #444444;
			vertical-align: middle;
		}
	}
	.btn-link {
		padding: 0;
	}
}

.dataTables_wrapper {
	.dataTables_filter {
		float: left;
	}
	.dataTables_paginate {
		display: flex;
		width: 100%;
		padding-top: resize(48, 0.7);
		padding-bottom: resize(48, 0.7);
		span {
			a.paginate_button {
				width: resize(25, 0.7);
				height: resize(25, 0.7);
				display: flex;
				justify-content: center;
				align-items: center;
				background: none;
				background-color: transparent;
				border-radius: 4px;
				border: 1px solid transparent;
				color: #727272;
				font-size: rem(20);
				line-height: rem(20);
				padding: 12px;
				&.current {
					background: none;
					background-color: #184b82;
					color: #fff !important;
					border-color: transparent;
					&:hover {
						background: none;
						background-color: #184b82;
						color: #fff !important;
						border-color: transparent;
					}
				}
				&:hover {
					border-color: transparent;

					background: none;
					opacity: 0.8;
				}
			}
		}
	}
}

// div.jtable-main-container {
// 	width: 100%;
// 	table.jtable {
// 		thead {
// 			th {
// 				padding-bottom: resize(15, 0.7);
// 				div.jtable-column-header-container {
// 					white-space: nowrap;
// 				}
// 			}
// 		}
// 		tbody {
// 			> tr {
// 				> td {
// 					border-right: none;
// 					border-left: none;
// 					border-color: #95989a;
// 				}
// 			}
// 		}
// 	}
// }

span.status {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #057b23;
	border-radius: 50%;
}

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
	background-color: #fff;
}

/* Club Page */

.card-horizontal {
	margin-bottom: resize(70, 0.7);
	p {
		& + .form-group {
			margin-top: 12px;
			margin-bottom: 22px;
		}
	}
	.d-flex {
		p {
			color: #727272;
			font-size: rem(18);
			line-height: rem(16);
			margin-bottom: 0;
			font-weight: 400;
			text-align: center;
			span {
				margin-bottom: 5px;
				font-size: rem(24);
				line-height: rem(16);
				font-weight: $bold;
				display: block;
			}
			& + p {
				margin-left: resize(70, 0.7);
			}
		}
	}
	.btn-primary {
		min-width: resize(425, 0.7);
		color: #fff;
		font-size: rem(25);
	}
}

#deleteCourtModal,
#deleteTrainerModal {
	.btn-block {
		padding: 1.07692rem;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 1.45385rem;
		text-transform: uppercase;
		& + .btn-block {
			margin-top: 15px;
		}
	}
}

#memberAddClubModal {
	.modal-body {
		> p {
			font-size: rem(24);
			line-height: rem(28);
			color: #727272;
			margin-top: 16px;
		}
		.form-group {
			margin-bottom: 0;
		}
		.input__field {
			margin-top: 14px;
		}
		.btn-link {
			color: #184b82;
			padding-right: 0;
			padding-left: 0;
			& + .btn-link {
				margin-right: resize(30, 0.7);
			}
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

a[href*="tel"] {
	font-size: rem(26);
	line-height: rem(28);
	font-weight: $bold;
	span {
		margin-right: resize(15, 0.7);
	}
}

.membership-info {
	.form-group {
		width: 45%;
		margin-right: 15px;
		.input--filled .input__label-content {
			color: #444;
			font-weight: $bold;
		}
		.input--filled .input__label::after {
			border-color: #444444;
		}
		.input--filled .input__label::before {
			border-color: transparent;
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
}

.booking-status {
	padding-top: 20px;
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
	p, h6 {
		font-size: rem(24);
		line-height: rem(24);
		color: #444444;
		font-weight: $bold;
		display: flex;
		justify-content: space-between;
		span {
			font-size: rem(20);
			line-height: rem(24);
			font-weight: 400;
			margin-left: 15px;
		}
		a {
			font-size: rem(18);
			line-height: rem(24);
			color: #184b82;
			text-transform: uppercase;
			margin-left: 10px;
		}
	}
}

.payment {
	padding-top: 20px;
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
	.btn-primary {
		min-width: resize(515, 0.7);
		margin-top: resize(28, 0.7);
		margin-bottom: resize(35, 0.7);
		@include media-breakpoint-down(sm) {
			max-width: 100%;
			min-width: 100%;
		}
	}
	img {
		max-height: resize(35, 0.7);
		width: auto;
		+ img {
			margin-right: 15px;
		}
	}
}

.custom-control-label {
	cursor: pointer;
}

.custom-control-input:disabled ~ .custom-control-label {
	cursor: not-allowed;
}

.custom-checkbox + .custom-checkbox,
.custom-radio + .custom-radio,
.custom-radio + .custom-checkbox,
.custom-checkbox + .custom-radio {
	margin-top: resize(30, 0.7);
}

.custom-control-label::before {
	border-color: rgba(#727272, 0.7);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
	background-image: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #184b82;
}

.custom-control-input:disabled ~ .custom-control-label::before {
	background-color: transparent;
	opacity: 0.7;
}

#gMap {
	height: resize(170, 0.7);
	width: 100%;
}

#reserveTrainer {
	.modal-header {
		.modal-title {
			margin-left: 0;
		}
		.close {
			position: relative;
			padding: 0;
		}
	}
	.modal-body {
		padding: 1rem;
	}
	.custom-control {
		padding-right: 1.5rem;
		padding-left: 0;
		+ .custom-control {
			margin-top: resize(40, 0.7);
		}
	}
	.custom-control-label {
		padding-right: 10px;
		padding-left: 0;
		&:before,
		&:after {
			right: 0;
			left: auto;
			top: 50%;
			transform: translateY(-50%);
		}
		.thumb {
			width: resize(75, 0.7);
			height: resize(75, 0.7);
			margin-right: resize(18, 0.7);
		}
		p {
			font-size: rem(23);
			line-height: rem(27);
			color: #444444;
			font-weight: $bold;
			margin-bottom: 0;
		}
		small {
			font-size: rem(26);
			line-height: rem(25);
			font-weight: $bold;
			color: #184b82;
		}
	}

	.nav-tabs {
		border: none;
		margin-bottom: resize(50, 0.7);
		.nav-item {
			.nav-link {
				font-size: rem(14);
				font-weight: $bold;
				line-height: rem(16);
				padding: resize(15, 0.7) resize(20, 0.7);
				color: #fff;
				background-color: #184b82;
				border-color: transparent;
				border-width: 0.5px;
				border-radius: 0;
				&.active {
					background-color: #057b23;
				}
			}
			+ .nav-item {
				.nav-link {
					border-left-color: #fff;
				}
			}
		}
	}
}

/* full calender */
#members-table_paginate {
	span {
		display: flex;
		a.paginate_button{
			&:not(:last-child){
				margin-right: 10px;
			}
		}
	}
}
// this style for changing timeline calender background
#booking_calendar {
	.fc {
		&-view-container {
			.fc-view {
				.fc-bg {
					tbody {
						background-color: #057b23;
					}
				}
			}
		}
	}
}
.fc {
	.fc-view-container {
		.fc-view {
			.fc-bgevent {
				opacity: 0.9;
				background-color: #797979;
			}
			.fc-highlight {
				opacity: 1;
				background: blue;
			}
			.fc-cell-content {
				padding: 0;
				.fc-cell-text {
					padding: resize(15, 0.7) resize(24, 0.7);
					background-color: #303030;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: rem(14);
					line-height: rem(16);
				}
			}
		}
	}
	.fc-widget-header {
		border-width: 0;
		.fc-expander-space + .fc-cell-text {
			background-color: transparent !important;
		}
	}
}

.calender-view {
	border: 1px solid rgba(#95989a, 0.7);
	padding: 15px;
	.fc-toolbar.fc-header-toolbar {
		margin-bottom: 0;
		margin-right: -15px;
		margin-left: -15px;
		border-bottom: 1px solid rgba(#95989a, 0.7);
		padding: 0 15px 15px;
		button.fc-prev-button,
		button.fc-next-button {
			position: relative;
			background-color: transparent;
			background-image: none;
			border-color: transparent;
			color: #999;
			&:hover {
				color: darken(#999, 10%);
			}
		}
	}

	&.fc-unthemed {
		td,
		th {
			border-color: rgba(#95989a, 0.7);
		}
	}

	.fc-view-container {
		thead.fc-head {
			th.fc-widget-header {
				padding-top: 20px;
				padding-bottom: 10px;
				text-align: left;
			}
		}
	}

	.fc-widget-content {
		.fc-day-top {
			color: #333;
		}
	}

	.fc-event-container {
		border-radius: 4px;
		color: #fff;
		.fc-event {
			padding: 10px;
			background-color: #184b82;
		}
	}
	.fc-more {
		color: #184b82 !important;
	}
}

#memberClubs {
	.thumb {
		margin-right: resize(20);
		& + p {
			font-size: rem(29);
			line-height: rem(34);
			color: #303030;
			font-weight: $bold;
		}
	}
	.btns-wrap {
		margin-right: 0;
		flex: 0;
		.btn-save,
		.btn-cancel {
			padding: 0;
			&:hover {
				background-color: transparent;
				border-color: transparent;
				opacity: 0.8;
			}
		}
		.btn-save {
			margin-bottom: 15px;
			&:hover {
				color: #184b82;
			}
		}
		.btn-cancel:hover {
			color: #832b2b;
		}
		~ .btn-link {
			margin-right: 0;
		}
	}

	h3.title {
		margin-top: 36px;
	}
	@include media-breakpoint-down(sm) {
		.form-group {
			max-width: initial;
			width: 100%;
		}
	}
}

.nav-calender {
	display: inline-flex;
	.nav-item {
		.nav-link {
			font-size: rem(20);
			font-weight: $bold;
			line-height: rem(16);
			color: #444444;
			&.active {
				color: #184b82;
			}
		}
		& + .nav-item {
			border-left: 1px solid #333;
		}
	}
	@include media-breakpoint-down(sm) {
		.nav-item {
			.nav-link {
				padding-left: 0;
			}
			+ .nav-item {
				border-left: none;
			}
		}
	}
}

p.price {
	font-size: rem(20);
	line-height: rem(25);
	font-weight: $bold;
	margin-bottom: 0;
	color: #184b82;
	text-align: right;
	span {
		font-weight: 400;
		display: block;
	}
}

.filter-btns {
	.btn {
		min-width: resize(110, 0.7);
		font-size: rem(18);
		line-height: rem(14);
		&.btn-default {
			border-color: #184b82;
			color: #184b82;
		}
		&.btn-cancel {
			color: #821818;
			border-color: #821818;
		}
		& + .btn {
			margin-left: 15px;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}

/* Club Page */
.nav-view {
	.nav-item {
		.nav-link {
			font-size: 24px;
			color: #727272;
			padding: 0;
			&.active {
				color: #184b82;
			}
		}
		& + .nav-item {
			margin-left: 12px;
		}
	}
}

/* Media Queries */
@include media-breakpoint-down(xs) {
	.modal-dialog,
	.modal-content {
		height: 100%;
	}
	.modal-content {
		height: auto;
		min-height: calc(100% - 210px);
		top: 115px;
	}
	.modal-body {
		flex-grow: 0;
	}
}
@include media-breakpoint-down(sm) {
	body {
		margin-bottom: 100px;
		padding-top: 143px;
	}
	header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		.nav {
			justify-content: space-between;
		}
	}

	footer {
		flex-direction: column-reverse;
		align-items: center;
		height: auto;
		margin-top: 10px;
		p {
			margin-bottom: 10px;
			font-size: rem(12);
		}
		.nav {
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 10px;
			margin-top: 15px;
			.nav-item {
				+ .nav-item {
					margin-left: 0;
				}
				.nav-link {
					font-size: rem(12);
				}
			}
		}
	}
	.card-horizontal {
		flex-wrap: wrap;
		.btn {
			min-width: 100%;
			max-width: 100%;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}

.calender-view {
	.fc-event-container{
		 .fc-event {
		 	font-size: 16px;
		 }
	}
}

.booking-code-menu {
	.dropdown-menu {
		left: -80px !important;
		top: 7px !important;
		.dropdown-item {
			padding: 1rem 1.5rem;
		}
	}
}
#month-payments-table {
	tbody {
		td {
			text-align: center;
		}
	}
	thead {
		th {
			text-align: center;
		}
	}
}

#month-payments-table,
#current-bookings-table,
#joined-members-table_wrapper,
#month-payments-table_wrapper,
#current-bookings-table {
	// display: inline-block;
	vertical-align: top;
	max-width: 100%;
	overflow-x: auto; // optional - looks better for small cell values
	// white-space: pre-line;
	border-collapse: collapse;
	border-spacing: 0; // optional - enable iOS momentum scrolling
	-webkit-overflow-scrolling: touch; // scrolling shadows
	th {
		// font-size: 11px;
		text-align: left;
		text-transform: uppercase;
	}
	th,
	td {
		padding: 6px 12px;
	}
	tbody {
		tr {
			td {
				padding: 2.5rem 12px !important;
			}
			&:hover {
				background-color: #f0f0f0;
				.custom-select {
					background-color: #f0f0f0;
				}
			}
		}
	}
}

#current-bookings-table_wrapper {
	padding: 0px 1.5rem;
}
#current-bookings-table_paginate,
#month-payments-table_paginate {
	span {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		#paginate_button {
			margin-right: 5px;
			&:hover {
				cursor: pointer;
				background-color: #184b82;
				color: white;
			}
		}
	}
}

#courtBooking .card,
#bookingHistory {
	@include media-breakpoint-down(md) {
		overflow-x: scroll;
		max-width: 100%;
	}
}

#current-bookings-table_wrapper,
#joined-members-table_wrapper,
#month-payments-table_wrapper {
	@include media-breakpoint-down(md) {
		overflow-x: scroll;
		max-width: 100%;
		white-space: nowrap !important;
	}
}
@include media-breakpoint-up(sm) {
	.modal:not(#addClubModal) {
		.modal-dialog {
			max-width: resize(435, 1);
		}
	}
}

@include media-breakpoint-up(md) {
	.modal-dialog {
		height: 100% !important;
	}
}

@include media-breakpoint-only(md) {
	footer {
		flex-wrap: wrap;
		justify-content: center;
	}
	.nav-pills,
	.nav-subtab {
		flex-wrap: nowrap;
		overflow-x: scroll;
		.nav-link {
			white-space: nowrap;
		}
	}
}

body > .d-print {
	display: none !important;
}

@media print {
	header,
	footer,
	.ads-space,
	.card .card-header,
	.card > div:not(.d-print),
	.card h2,
	.card h3,
	.card h4,
	.card h5,
	.card h6,
	.card a,
	.card button,
	.modal button,
	.modal-header,
	.tab-content,
	.user-header,
	.nav,
	.custom-select,
	// .card,
	.breadcrumb-wrap,
	div.d-flex {
		display: none !important;
	}
	.modal.fade.show{
		overflow-y: hidden !important;
	}
	.card {
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
		width: auto !important;
	}
	.card > div.d-print {
		margin: 0;
		padding: 0;
		h2,
		h3,
		h4,
		h5,
		h6 {
			display: block !important;
		}
	}
}

@import "./partials/_branch-payment";
@import "./partials/_terms_and_conditions.scss";
