.help-block strong{
  color: #991b25 !important;
}
.dt-button
{
  border-color: #184B82;
  color: #184B82;
  min-width: 77px;
    font-size: 0.96923rem;
    line-height: 0.75385rem;
    padding: 14px 24px !important;
    margin-bottom: 0 !important;
    font-weight: 700;
    background-color: transparent;
    border-width: 1px;
    margin-left: 15px;
    cursor: pointer;
}
.dt-button .btn:hover {
  opacity: .8; }
.register_success
{
  display: none;
}
.anchor_link
{
  cursor: pointer;
}
.register_success strong
{
  color: #11842c !important;
}
.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1.5em;
    color: green;
}
.page-preloader {
  background: rgba(0,0,0,.6) url('/images/spinner3.gif') no-repeat 50% 50%;
  /* background: rgba(255,255,255) url('/images/spinner.gif') no-repeat 50% 50%; */
  display: none;
  position: fixed;
  z-index: 5000;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.page-preloader2 {
  background: rgba(0,0,0,.6) url('/images/spinner3.gif') no-repeat 50% 50%;
  /* background: rgba(255,255,255) url('/images/spinner.gif') no-repeat 50% 50%; */

  position: fixed;
  z-index: 5000;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
