@import '../node_modules/bootstrap/scss/_functions.scss';
@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import '_variables.scss';
@import '_bootstrapVariables.scss';

/* Icons */
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?21naoc');
	src: url('../fonts/icomoon.eot?21naoc#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?21naoc') format('truetype'),
		url('../fonts/icomoon.woff?21naoc') format('woff'),
		url('../fonts/icomoon.svg?21naoc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
	content: '\e900';
}
.icon-delete:before {
	content: '\e901';
}
.icon-done:before {
	content: '\e902';
}
.icon-edit:before {
	content: '\e903';
}
.icon-invoice:before {
	content: '\e904';
}
.icon-location:before {
	content: '\e905';
}
.icon-mail:before {
	content: '\e906';
}
.icon-member:before {
	content: '\e907';
}
.icon-phone:before {
	content: '\e908';
}
.icon-print:before {
	content: '\e909';
}
.icon-table:before {
	content: '\e90a';
}
.icon-time:before {
	content: '\e90b';
}
.icon-upload:before {
	content: '\e90c';
}
.icon-user:before {
	content: '\e90d';
}
.icon-website:before {
	content: '\e90e';
}
.icon-athletics:before {
	content: '\e913';
}
.icon-badminton:before {
	content: '\e914';
}
.icon-basketball:before {
	content: '\e915';
}
.icon-billiards:before {
	content: '\e916';
}
.icon-boxing:before {
	content: '\e917';
}
.icon-croquet:before {
	content: '\e918';
}
.icon-diving:before {
	content: '\e919';
}
.icon-equestrian:before {
	content: '\e91a';
}
.icon-fencing:before {
	content: '\e91b';
}
.icon-fitness:before {
	content: '\e91c';
}
.icon-football:before {
	content: '\e91d';
}
.icon-golf:before {
	content: '\e91e';
}
.icon-gymnasium:before {
	content: '\e91f';
}
.icon-gymnastics:before {
	content: '\e920';
}
.icon-handball:before {
	content: '\e921';
}
.icon-judo:before {
	content: '\e922';
}
.icon-karate:before {
	content: '\e923';
}
.icon-kong-fu:before {
	content: '\e924';
}
.icon-polo:before {
	content: '\e925';
}
.icon-special-needs:before {
	content: '\e926';
}
.icon-speedball:before {
	content: '\e927';
}
.icon-squash:before {
	content: '\e928';
}
.icon-swimming:before {
	content: '\e929';
}
.icon-synchronised-swimming:before {
	content: '\e92a';
}
.icon-table-tennis:before {
	content: '\e92b';
}
.icon-taekwondo:before {
	content: '\e92c';
}
.icon-tennis:before {
	content: '\e92d';
}
.icon-vollyball:before {
	content: '\e92e';
}
.icon-waterpolo:before {
	content: '\e92f';
}
.icon-yoga:before {
	content: '\e930';
}

/* Global */
html {
	font-size: $baseFontSize;
	position: relative;
	min-height: 100%;
}

body {
	font-family: $roboto;
	margin-bottom: resize(60, 0.7);
	padding-bottom: 30px;
	height: 100%;
	background-image: url('../images/bg-image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	&.inner {
		background-image: none;
		background-color: #ececec;
	}
	&.menu-overlay {
		overflow-y: hidden;
		&:before {
			content: '';
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.7);
			z-index: 998;
		}
	}
}

header {
	padding-top: rem(21);
	padding-bottom: rem(21);
	& > .d-flex.d-md-none {
		background: #fff;
		margin-top: rem(-21);
		margin-right: -15px;
		margin-left: -15px;
		margin-bottom: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		.nav-link {
			width: resize(38, 0.7);
			& > img {
				max-width: 100%;
				height: auto;
			}
			+ .nav-link {
				margin-left: resize(18);
			}
		}
	}
	.nav-link {
		padding: 0;
	}
	.logo {
		width: resize(264, 0.7);
		height: auto;
		margin-left: -30px;
		margin-bottom: rem(-22);
		& > img {
			max-width: 100%;
			height: auto;
		}
	}

	.sponsors {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
		padding: rem(5) rem(24);
		border-radius: 30px;
		margin-left: resize(32);
		margin-right: auto;
		height: resize(53, 0.7);
		.nav-link {
			width: resize(38, 0.7);
			& > img {
				max-width: 100%;
				height: auto;
			}
			+ .nav-link {
				margin-left: resize(18);
			}
		}
	}
	.nav-item.login-item {
		align-self: center;
		.nav-link {
			color: #727272;
			font-size: 30px;
			width: 32px;
			height: 32px;
			background: #fff;
			border-radius: 50%;
			padding: 2px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.nav-item.user-controls {
		display: flex;
		align-items: center;
		.nav-link {
			font-size: rem(19);
			line-height: rem(27);
			color: #fff;
			font-weight: $bold;
			+ .nav-link {
				margin-left: resize(47);
			}
		}
		.thumb {
			width: resize(46, 0.7);
			height: resize(46, 0.7);
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		p {
			font-size: rem(18);
			line-height: rem(20);
			font-weight: 400;
			margin-bottom: 0;
			margin-right: resize(12);
		}
	}
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: resize(60, 0.7);
	background-color: #212121;
	p {
		color: #95989a;
		font-size: rem(15);
		margin: 0;
	}

	.nav-item + .nav-item {
		margin-left: resize(55);
	}

	.nav-link {
		color: #95989a;
		padding: 0;
		font-size: rem(15);
		font-style: $italic;
	}
}

.cbp-spmenu {
	display: flex;
	flex-direction: column;
	background: #184b82;
	position: fixed;
	width: 240px;
	height: 100%;
	top: 126px;
	right: -240px;
	z-index: 1000;
	transition: all 0.3s ease;
	.nav-link {
		font-size: rem(19);
		line-height: rem(27);
		color: #fff;
		font-weight: $bold;
		color: #fff;
		border-bottom: 1px solid rgba(#fff, 0.2);
		padding: 1em;
	}
	.user-controls {
		display: flex;
		align-items: center;

		.thumb {
			width: resize(46, 0.7);
			height: resize(46, 0.7);
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: resize(12);
		}
		p {
			font-size: rem(18);
			line-height: rem(20);
			font-weight: 400;
			margin-bottom: 0;
		}
	}
	&.cbp-spmenu-open {
		right: 0;
	}
}

.ads-space {
	padding: 30px 0;
	img {
		max-width: 100%;
		height: auto;
	}
	&.ads-space-sm {
		img {
			max-width: 95%;
			margin: 0 auto;
			display: block;
			@include media-breakpoint-up(xl) {
				max-width: 70%;
			}
		}
	}
}

.breadcrumb-wrap {
	background-color: #fff;
	box-shadow: $shadow;
	.breadcrumb {
		background-color: transparent;
		padding-right: 0;
		padding-left: 0;
		.breadcrumb-item {
			+ .breadcrumb-item:before {
				content: '>';
			}
			a {
				color: #184b82;
				font-size: rem(22);
				font-weight: $bold;
				line-height: rem(24);
			}
			&.active {
				font-weight: $bold;
				color: #727272;
			}
		}
	}
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;
}
.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	-moz-backface-visibility: hidden;
	/* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	/* fix for flashing background */
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
	display: block;
	width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
	display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.owl-carousel.owl-loaded {
	display: block;
}
.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}
.owl-carousel.owl-hidden {
	opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
	visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.owl-carousel.owl-grab {
	cursor: move;
	cursor: grab;
}
.owl-carousel.owl-rtl {
	direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
	float: right;
}

/* No Js */
.no-js .owl-carousel {
	display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
	animation-duration: 1000ms;
	animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
	z-index: 0;
}

.owl-carousel .owl-animated-out {
	z-index: 1;
}

.owl-carousel .fadeOut {
	animation-name: fadeOut;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
	transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
	transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000;
}

.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url('owl.video.play.png') no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
	-ms-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
	display: none;
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
}

/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
	margin-top: 10px;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
	color: #fff;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #d6d6d6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
	background: #869791;
	color: #fff;
	text-decoration: none;
}
.owl-theme .owl-nav .disabled {
	opacity: 0.5;
	cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 0;
}

.owl-theme .owl-dots {
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	position: absolute;
	bottom: resize(25);
	left: 0;
	right: 0;
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #fff;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity 200ms ease;
	border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #184b82;
}

.section-head {
	padding-top: rem(36);
	padding-bottom: rem(36);
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1,
	a {
		font-size: rem(34);
		font-weight: $bold;
		line-height: rem(40);
		margin-bottom: 0;
		text-transform: uppercase;
	}
	h1 {
		color: #444444;
	}
	a {
		color: #184b82;
	}
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}

/* Components */

.material-switch > input[type='checkbox'] {
	display: none;
}

.material-switch > label {
	cursor: pointer;
	height: 0px;
	position: relative;
	width: 40px;
}

.material-switch > label::before {
	background: rgb(0, 0, 0);
	border-radius: 8px;
	content: '';
	height: 16px;
	margin-top: -8px;
	position: absolute;
	opacity: 0.3;
	transition: all 0.4s ease-in-out;
	width: 40px;
}
.material-switch > label::after {
	background: #fff;
	border-radius: 16px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	content: '';
	height: 24px;
	left: -4px;
	margin-top: -8px;
	position: absolute;
	top: -4px;
	transition: all 0.3s ease-in-out;
	width: 24px;
}
.material-switch > input[type='checkbox']:checked + label::before {
	background: rgba(#009688, 0.5);
	opacity: 0.5;
}
.material-switch > input[type='checkbox']:checked + label::after {
	background: #009688;
	left: 20px;
}

.btn {
	max-width: resize(350, 0.7);
	padding: rem(20);
	font-weight: $bold;
	font-size: rem(26);
	line-height: rem(27);
	text-transform: uppercase;
	&.btn-block {
		max-width: 100%;
	}
}

.btn.btn-file {
	position: relative;
	overflow: hidden;
	font-weight: $bold;
	color: #184b82;
	border-color: #184b82;
	font-size: rem(13);
	line-height: rem(14);
	min-width: 126px;
	padding: 10px 24px;
	margin-bottom: 0 !important;
}

.btn-file input[type='file'] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.btn-float {
	width: resize(65, 0.7);
	height: resize(65, 0.7);
	color: #fff;
	border-radius: 50%;
	padding: 10px;
}

.btn-link {
	color: #727272;
}

.btn-default {
	background-color: transparent;
	border-color: #184b82;
}

.thumb {
	width: resize(124, 0.7);
	height: resize(124, 0.7);
	border-radius: 50%;
	border: 3px solid #fff;
	overflow: hidden;
	margin: 0 auto;
	> img {
		max-width: 100%;
		height: auto;
	}
}

.input {
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
}

.input__field {
	position: relative;
	display: block;
	margin-top: 18px;
	float: right;
	padding: 18px 0 16px;
	width: 100%;
	border: none;
	border-radius: 0;
	background: transparent;
	color: #333;
	font-size: rem(19);
	line-height: rem(29);
	-webkit-appearance: none; /* for box shadows to show on iOS */
	&:focus {
		outline: none;
		+ .input__label:after {
			transform: translate3d(0, 0, 0);
		}
		+ .input__label .input__label-content {
			animation: anim-1 0.3s forwards;
		}
	}
}

.input--filled .input__label:after {
	transform: translate3d(0, 0, 0);
}

.input--filled .input__label-content {
	animation: anim-1 0.3s forwards;
	color: #184b82;
}

.input__label {
	display: block;
	float: right;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: calc(100% - 10px);
	text-align: left;
	pointer-events: none;
	margin-bottom: 0;
	color: #727272;
	font-size: rem(19);
	line-height: rem(29);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 10px);
		border-bottom: 1px solid rgba(#727272, 0.5);
	}
	&:after {
		border-bottom: 2px solid red;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		border-color: #184b82;
	}
}

.input__label-content {
	position: absolute;
	display: block;
	padding: 1.6em 0;
	width: 100%;
	font-size: rem(19);
	line-height: rem(29);
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		transform: translate3d(-1em, -20%, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, -20%, 0);
	}
}

.custom-control-label {
	color: #727272;
	font-size: rem(20);
	padding-left: 10px;
	&:before {
		width: resize(25, 0.7);
		height: resize(25, 0.7);
		background-color: transparent;
		border: 1px solid rgba(#444444, 0.7);
	}
	&:after {
		width: resize(25, 0.7);
		height: resize(25, 0.7);
	}
}

#loginModal,
#registerModal,
#forgotPwModal {
	.modal-body {
		padding-top: 0;
		span.input {
			margin-top: -12px;
		}
	}
}

.modal-backdrop.show {
	opacity: 0.62;
}

.modal-header,
.modal-footer,
.modal-content {
	border-radius: 0;
}

.modal-content {
	box-shadow: $shadow;
	border: none;
}

.modal-body {
	padding-right: rem(40);
	padding-left: rem(40);
}

.modal-header {
	position: relative;
	padding-top: rem(38);
	border: none;
	justify-content: center;
	align-items: center;
	.close {
		position: absolute;
		margin: 0;
		padding: 10px;
		line-height: 10px;
		top: 0px;
		right: 0px;
		color: #727272;
	}
}

.modal-title {
	font-size: rem(22);
	font-weight: $bold;
	line-height: rem(24);
	color: #727272;
	margin-right: auto;
	margin-left: auto;
}

.modal-footer {
	border: none;
	flex-wrap: wrap;
	& a:last-of-type {
		font-size: rem(20);
	}
}

form {
	+ a {
		text-align: right;
		display: block;
	}
}

.nav-pills {
	.nav-link {
		min-width: resize(215, 0.7);
		min-height: resize(75, 0.7);
		font-size: rem(34);
		line-height: rem(40);
		font-weight: bold;
		color: #727272;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: rem(19);
		&.active {
			background-color: #057b23;
		}
	}
}

.tab-pane {
	.card {
		h2 {
			color: #444444;
			font-size: rem(26);
			line-height: rem(30);
		}
	}
}

.tab-pannel {
	.input--filled .input__label-content {
		color: #727272;
	}
	.input__label:after {
		border-color: #444444;
	}

	p {
		font-size: rem(24);
		line-height: rem(30);
		color: #727272;
		margin-bottom: 0;
	}
	.d-flex {
		> * {
			margin-right: resize(40);
		}
	}
	small {
		margin-bottom: 10px;
	}
	.material-switch {
		margin-top: 10px;
	}
	.btn-default {
		font-weight: $bold;
		color: #184b82;
		border-color: #184b82;
		font-size: rem(13);
		line-height: rem(14);
		min-width: 126px;
		padding: 10px 24px;
		margin-bottom: 0 !important;
	}
}

.card-row {
	margin-right: rem(-32);
	margin-left: rem(-32);
	padding-right: rem(32);
	padding-left: rem(32);
	&:nth-of-type(2n) {
		background-color: #f0f0f0;
	}
	.form-group {
		min-width: resize(380, 0.7);
	}
}

.card {
	background-color: #fff;
	box-shadow: $shadow;
	border-radius: 0;
	border: none;
	padding: rem(22) rem(32);
	margin-top: 30px;
	h1 {
		color: #184b82;
		@include font($wsans, $bold);
		font-size: rem(37);
		line-height: rem(34);
		margin-bottom: 16px;
		margin-top: 6px;
	}
	.card-title {
		font-size: rem(29);
		line-height: rem(34);
		color: #444444;
		font-weight: $med;
	}
	.btn {
		margin-bottom: 18px;
	}
}

.card-horizontal {
	display: flex;
	flex-direction: row;
	padding: 18px 10px;
	justify-content: flex-start;
	align-items: center;
	.thumb {
		width: resize(136, 0.7);
		height: resize(136, 0.7);
		margin: 0;
	}
	p {
		font-size: rem(37);
		line-height: rem(43);
		color: #444444;
		font-weight: $bold;
		margin-bottom: 0;
	}
	small {
		font-size: rem(28);
		line-height: rem(30);
		color: #444444;
	}
	& > a {
		color: #184b82;
		font-size: rem(19);
		line-height: rem(23);
		font-weight: $bold;
		text-transform: uppercase;
	}
}

.card-user {
	.card-header {
		position: relative;
		margin: rem(-22) rem(-32);
		padding-top: resize(34);
		padding-bottom: resize(42);
		background-color: #184b82;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #fff;
		.thumb {
			width: resize(110, 0.7);
			height: resize(110, 0.7);
			margin-bottom: 10px;
		}
		p {
			font-size: rem(24);
			line-height: rem(28);
			font-weight: $bold;
			margin-bottom: 0;
		}
		small {
			font-size: rem(18);
			line-height: rem(21);
		}
	}
	.btn-float {
		background-color: #057b23;
		position: absolute;
		bottom: 0;
		right: 40px;
		transform: translateY(50%);
		margin-bottom: 0;
	}
}

.card-body {
	padding-top: 40px;
	form {
		.form-group {
			width: 100%;
			.input {
				width: 100%;
			}
			.input__label-content {
				font-size: rem(19);
				font-weight: $bold;
				line-height: 0;
				color: #444444;
				margin-bottom: 0;
			}
			.input__label::after {
				border-color: #184b82;
			}
			.input__field {
				padding-left: 10px;
				color: #727272;
				&[disabled] {
					padding-left: 0;
					+ .input__label:after {
						border-color: #444444;
					}
				}
			}
		}
		span[class*='icon-'] {
			font-size: rem(33);
			color: #727272;
			margin-right: 30px;
			margin-top: 18px;
		}
	}
}

.card-footer {
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.accordion {
	.item {
		+ .item {
			margin-top: resize(24);
		}
		> a[data-toggle='collapse'] {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: rem(12) rem(15);
			background-color: #727272;
			color: #fff;
			.thumb {
				width: resize(74, 0.7);
				height: resize(74, 0.7);
				+ h2 {
					font-size: rem(29);
					font-weight: $bold;
					line-height: rem(34);
					margin-left: resize(20);
				}
			}
			& > span {
				font-size: 16px;
			}
			&.collapsed {
				> span {
					transform: rotate(180deg);
				}
			}
		}
	}

	.tab-pannel {
		padding-left: rem(20);
		padding-right: rem(20);
		.card {
			.card-title {
				display: flex;
				justify-content: space-between;
				.btn-float {
					background-color: #057b23;
				}
			}
			.btn[type='submit'] {
				align-self: flex-end;
			}
		}
	}

	.btn-link {
		margin: 0;
	}

	// .card {
	// 	padding: 0;
	// 	margin: 0;
	// }
}

/* Home Page */
.ads-carousel {
	margin-top: resize(50);
	position: relative;
	.owl-item {
		a {
			display: block;
			width: 100%;
			& > img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}

.clubs-carousel {
	position: relative;
	margin-top: resize(55);
	.owl-dots {
		bottom: resize(24);
		@include media-breakpoint-up(xl) {
			bottom: resize(38);
		}
	}
}

.club-thumb {
	margin-bottom: 15px;
	@include media-breakpoint-up(xl) {
		margin-bottom: resize(100, 0.7);
	}
	h2 {
		font-size: rem(22);
		font-weight: $bold;
		line-height: rem(34);
		color: #fff;
		text-align: center;
		margin-bottom: 0;
		margin-top: resize(10);
		@include media-breakpoint-up(xl) {
			font-size: rem(29);
		}
	}
}

.inline {
	display: inline-block;
	margin-right: 8px;
	+ span.btn-file {
		display: inline;
	}
}

/* Media Queries */
@include media-breakpoint-down(xs) {
	.modal-dialog,
	.modal-content {
		height: 100%;
	}
	.modal-content {
		height: auto;
		min-height: calc(100% - 210px);
		top: 115px;
	}
	.modal-body {
		flex-grow: 0;
	}
}
@include media-breakpoint-down(sm) {
	body {
		margin-bottom: 100px;
		padding-top: 126px;
	}
	header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}
	footer,
	footer .nav {
		flex-direction: column;
		align-items: flex-start;
	}
	footer {
		height: auto;
		margin-top: 10px;
	}
	footer .nav {
		margin-top: 15px;
		.nav-item + .nav-item {
			margin-left: 0;
		}
	}
	.nav {
		justify-content: space-between;
	}
}

@include media-breakpoint-up(sm) {
	.modal-dialog {
		max-width: resize(435, 0.7);
	}
}

@include media-breakpoint-up(md) {
	.modal-dialog {
		height: 100% !important;
	}
}

@include media-breakpoint-only(md) {
	footer {
		flex-wrap: wrap;
		justify-content: center;
	}
}
