//Variables
$baseFontSize: 13px;
$roboto: 'Roboto', sans-serif;
$wsans: 'Work Sans', sans-serif;
$italic: italic;
$med: 500;
$bold: 700;
$shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
$shadow-lg: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);

//Mixins
//Bootstrap
@import '../node_modules/bootstrap/scss/mixins/_breakpoints.scss';

//Mixins
// Typo
@mixin font-face($font-family, $file-path, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
            url('#{$file-path}.woff2') format('woff2'),
            url('#{$file-path}.woff') format('woff'),
            url('#{$file-path}.ttf') format('truetype'),
            url('#{$file-path}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

@mixin font($font-family, $font-weight: 400) {
    font-family: $font-family;
    font-weight: $font-weight;
}

//px to rem function

@function rem($pixels, $context: $baseFontSize) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 0.7 * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1rem;
}

//resize design
@function resize($size, $ratio: 1) {
    @return $size * $ratio * 1px;
}
