#payment-reporting-card{
	table{
		width: 100%;
	}
	&-header{
		h1{
			font-size: 30px;
			font-family: "Roboto", sans serif;
			p{
				display: inline-block;
				font-size: 24px;
				font-weight: 500;
				margin-left: 1rem;
				color: #444444 !important;
			}
		}
		&-content{
			margin-top: 17px;
			h4{
				color: #444444 !important;
				text-transform: capitalize;	
				font-weight: 600;
				font-family: "Roboto", sans serif;
							
			}
			p{
				line-height: 2.5rem;
				font-family: "Roboto", sans serif;
				
				text-transform: capitalize;
				color: #444444 !important;
			}
		}
	}
	&-links{
		a{
			padding: 10px 15px;
			color: #444444;
			font-weight: bold;
			border-radius: 9px;
			transition: all 0.25s ease-in-out;
			&:hover, &:active, &:focus{
				text-decoration: none;
				color: white;
				background-color: #057B23;				
			}
		}
		a:not(:last-child){
			margin-right: 1rem;
		}
		.active{
			background-color: #057B23;
			color: white;
		}
	}
	&-table{
		&-body, &-head{
			th{
				text-align: center;
				font-family: 'Roboto',sans-serif;
				text-transform: capitalize;
				width: calc(100%/11);
			}
		}
		&-head{
			border-bottom: 1px solid #727272;
			font-size: 1.3rem;
			color: #727272;
			margin-bottom: 10px;
			padding-bottom: 10px;
			th{
				font-weight: 400;
				font-size: 14px;
				margin: 0px !important;
			}
		}
		&-body{
			th{
				margin:0px !important;
				padding: 2rem 0;
				p{
					font-size: 15px;
					color: #444444;
					font-family: 'Roboto', sans-serif;
					font-weight: 600;
				}
				a{
					color: #184B82;
					font-size: 15px;
					font-weight: 600;
					display: inline-block;
					
				}
				p, a{
					text-align: center;
					text-transform: capitalize;
				}
				.sm{
					font-size: 1rem;
					font-weight: 400;
					display: block;
				}
			}
		}
		&-body:not(:last-child) {
			border-bottom: 1px solid #727272;
		}
	}
}