footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: resize(60, 0.7);
	background-color: #212121;
	p {
		color: #95989a;
		font-size: rem(15);
		margin: 0;
	}
	.nav-item+.nav-item {
		margin-left: resize(55);
	}
	.nav-link {
		color: #95989a;
		padding: 0;
		font-size: rem(15);
		font-style: $italic;
	}
}
