/* Global */

html {
	font-size: $baseFontSize;
	position: relative;
	min-height: 100%;
}

body {
	font-family: $roboto;
	margin-bottom: resize(60, 0.7);
	padding-bottom: 30px;
	height: 100%;
	background-image: url('../images/bg-image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	&.inner {
		background-image: none;
		background-color: #ececec;
	}
	&.menu-overlay {
		overflow-y: hidden;
		&:before {
			content: '';
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.7);
			z-index: 998;
		}
	}
}
