header {
	padding-top: rem(21);
	padding-bottom: rem(21);
	&>.d-flex.d-md-none {
		background: #fff;
		margin-top: rem(-21);
		margin-right: -15px;
		margin-left: -15px;
		margin-bottom: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		.nav-link {
			width: resize(38, 0.7);
			&>img {
				max-width: 100%;
				height: auto;
			}
			+.nav-link {
				margin-left: resize(18);
			}
		}
	}
	.nav-link {
		padding: 0;
	}
	.logo {
		width: resize(264, 0.7);
		height: auto; // margin-left: -30px;
		// margin-bottom: rem(-22);
		&>img {
			max-width: 100%;
			height: auto;
		}
	}
	.sponsors {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
		padding: rem(5) rem(24);
		border-radius: 30px;
		margin-left: resize(32);
		margin-right: auto;
		height: resize(53, 0.7);
		.nav-link {
			width: resize(38, 0.7);
			&>img {
				max-width: 100%;
				height: auto;
			}
			+.nav-link {
				margin-left: resize(18);
			}
		}
	}
	.nav-item.login-item {
		align-self: center;
		.nav-link {
			color: #727272;
			font-size: 30px;
			width: 32px;
			height: 32px;
			background: #fff;
			border-radius: 50%;
			padding: 2px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.nav-item.user-controls {
		display: flex;
		align-items: center;
		.nav-link {
			font-size: rem(19);
			line-height: rem(27);
			color: #fff;
			font-weight: $bold;
			+.nav-link {
				margin-left: resize(47);
			}
		}
		.thumb {
			width: resize(46, 0.7);
			height: resize(46, 0.7);
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		p {
			font-size: rem(18);
			line-height: rem(20);
			font-weight: 400;
			margin-bottom: 0;
			margin-right: resize(12);
		}
	}
}
