/* Icons */

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?21naoc');
	src: url('../fonts/icomoon.eot?21naoc#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?21naoc') format('truetype'), url('../fonts/icomoon.woff?21naoc') format('woff'), url('../fonts/icomoon.svg?21naoc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
	content: '\e900';
}

.icon-delete:before {
	content: '\e901';
}

.icon-done:before {
	content: '\e902';
}

.icon-edit:before {
	content: '\e903';
}

.icon-invoice:before {
	content: '\e904';
}

.icon-location:before {
	content: '\e905';
}

.icon-mail:before {
	content: '\e906';
}

.icon-member:before {
	content: '\e907';
}

.icon-phone:before {
	content: '\e908';
}

.icon-print:before {
	content: '\e909';
}

.icon-table:before {
	content: '\e90a';
}

.icon-time:before {
	content: '\e90b';
}

.icon-upload:before {
	content: '\e90c';
}

.icon-user:before {
	content: '\e90d';
}

.icon-website:before {
	content: '\e90e';
}

.icon-athletics:before {
	content: '\e913';
}

.icon-badminton:before {
	content: '\e914';
}

.icon-basketball:before {
	content: '\e915';
}

.icon-billiards:before {
	content: '\e916';
}

.icon-boxing:before {
	content: '\e917';
}

.icon-croquet:before {
	content: '\e918';
}

.icon-diving:before {
	content: '\e919';
}

.icon-equestrian:before {
	content: '\e91a';
}

.icon-fencing:before {
	content: '\e91b';
}

.icon-fitness:before {
	content: '\e91c';
}

.icon-football:before {
	content: '\e91d';
}

.icon-golf:before {
	content: '\e91e';
}

.icon-gymnasium:before {
	content: '\e91f';
}

.icon-gymnastics:before {
	content: '\e920';
}

.icon-handball:before {
	content: '\e921';
}

.icon-judo:before {
	content: '\e922';
}

.icon-karate:before {
	content: '\e923';
}

.icon-kong-fu:before {
	content: '\e924';
}

.icon-polo:before {
	content: '\e925';
}

.icon-special-needs:before {
	content: '\e926';
}

.icon-speedball:before {
	content: '\e927';
}

.icon-squash:before {
	content: '\e928';
}

.icon-swimming:before {
	content: '\e929';
}

.icon-synchronised-swimming:before {
	content: '\e92a';
}

.icon-table-tennis:before {
	content: '\e92b';
}

.icon-taekwondo:before {
	content: '\e92c';
}

.icon-tennis:before {
	content: '\e92d';
}

.icon-vollyball:before {
	content: '\e92e';
}

.icon-waterpolo:before {
	content: '\e92f';
}

.icon-yoga:before {
	content: '\e930';
}

.icon-search:before {
	content: '\f002';
}
