body{
	padding-bottom: 0px;
}
#not-found{
	background: #ffffff !important;
	height: 100%;
	padding: 15rem 0 17.55rem;
	&-items{
		width: 100%;
		// min-height: 87vh;
		h1{
			font-size: 160px;
		}
		p{
			font-size: 2rem;
		}
		a{
			width: 25rem;
			max-width: 500px !important;
		}
	}
}