.booking-code-menu{
	.dropdown-toggle::after{
		display: none !important;
	}
	.dropdown-toggle{
		cursor: pointer;
	}
	.dropdown-menu{
		border-radius: 0px;
		border: 0px;
	}
	.dropdown-item {
		color: white;
		&:hover{
			background-color: transparent;
			color: white;
			cursor: pointer;
		}
	}
}