#termsAndConditions{
.nav-tabs {
	border-bottom: 3px solid #dee2e6;
	.nav-link {
		border: 0px !important;
		font-size: rem(20);
		line-height: rem(34);
	}
	.active {
		border-bottom: 4px solid #057b23 !important;
	}
}
	.tab-content{
		.tab-pane{
			p{
				font-family: $roboto;
				font-size: 1.3rem;
			}
		}
	}
}